body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    width: 180px;
    box-shadow: 0 0 5px gray;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#cart {
    margin: 20px;
    background-color: white;
    padding: 15px;   
}